extends layout

block content
  .site-wrapper
      .site-wrapper-inner
          .cover-container
            .masthead.clearfix(id="header")
              .inner
                .masthead-brand
                  img.img-rounded(src="/img/dodge.jpg", width="50px", style="float:left;margin-right:3px;")
                  h3.pull-left Such Jukebox
            .inner.cover
              .password-party-main
                form.input-group(action="/party/" + partyId, method="POST")
                  input.form-control(type="text", placeholder="Password", name="hostPassword")
                  span.input-group-btn
                    button.btn.btn-default(type="btn btn-default", id="go-button")
                      |Go