extends layout

block content
  .site-wrapper
      .site-wrapper-inner
          .cover-container
            .masthead.clearfix
              .inner
                .masthead-brand
                  img.img-rounded(src="/img/dodge.jpg", width="50px", style="float:left;")
                  h3.pull-left Such <br> Jukebox
            .inner.cover(style="padding-left:50px;padding-right:50px;")
              p.lead
                | Hosting
              .row
                .col-sm-offset-3.col-sm-6(style="padding-bottom:10px;")
                  h4.pull-left Party Name:
                  br
                  input#partyName.form-control(type="text", placeholder="Party Name")
                  #nameWarn.alert.alert-danger(style='padding:5px;display:none;') Please enter a party name
              .row
                .col-sm-offset-3.col-sm-3(style='text-align:left;')
                  .input-group
                    p Use my location:
                    //- http://www.bootstrap-switch.org/
                    input#location.switch(type="checkbox",data-on-color="success", data-size="small", style='padding-top:5px;')
                    script $(".switch").bootstrapSwitch();
                .col-sm-4#map(style='height:220px;min-width:220px;padding:0;margin:20px;display:none;')
                  #map-canvas


              .row
                .col-sm-offset-3.col-sm-6
                  h4.pull-left Fallback genre:
              .row
                .col-sm-offset-3.col-sm-6
                  select#fallback.form-control.text-center
                    option --- Select a Genre ---
                  #fallbackWarn.alert.alert-danger(style='padding:5px;display:none;') Please enter a fallback genre
              .row
                .col-sm-offset-3.col-sm-6(style="padding-bottom:10px;")
                  .caption
                    p
                      | Songs from this genre will populate the playlist if there are no songs submitted by users
                br
                .col-sm-offset-2.col-sm-3(style="padding-bottom:10px;")
                  a.btn.btn-lg.btn-danger(href='/') Back
                .col-sm-offset-3.col-sm-3
                  a#host.btn.btn-lg.btn-success Start the party
            .mastfoot
              .inner
                p(style="color:white;") Much fun to be had here
  script(src='/js/hosting.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGqplXIkBDqyyUeGqRssGLVGl6X84ghqU&sensor=false")
