extends layout

block content
  .site-wrapper
      .site-wrapper-inner
          .cover-container
            .masthead.clearfix
              .inner
                .masthead-brand
                  img.img-rounded(src="/img/dodge.jpg", width="50px", style="float:left;")
                  h3.pull-left Such <br> Jukebox
            .inner.cover
              p.lead
                | Joining
              .row
                .col-sm-offset-3.col-sm-6
                  p.
                    Enter the name of the party to search for or select a nearby party from the list
              .row
                .col-sm-offset-4.col-sm-5
                  .input-group
                    input.form-control(type="text")
                    span.input-group-btn
                      button.btn.btn-default(type="button")
                        .fa.fa-search
              .row
                br
                .col-sm-offset-3.col-sm-6
                  h3(style="text-align:left;") Parties:
                  #parties.list-group(style='margin-bottom:10px;')
                    for party in partyNames
                      a.list-group-item.party(id="party_#{party.id}")= party.name
                  #warn.alert.alert-danger(style='padding:5px;display:none;') Please select a party
              .row
                .col-sm-offset-6.col-sm-3
                  p Your location:&nbsp;
                    span.location(style="color:#5a97bd;")
                      i.fa.fa-location-arrow Ottawa
                  a.pull-right(href="#")
                    small Find me...
              .row
                br
                .col-sm-offset-2.col-sm-3(style="padding-bottom:10px")
                  a.btn.btn-lg.btn-danger(href='/') Back
                .col-sm-offset-2.col-sm-3
                  a#join.btn.btn-lg.btn-success Join the party
            .mastfoot
              .inner
                p(style="color:white;") Much fun to be had here
  script(src='/js/joining.js')