extends layout

block content
  .site-wrapper
      .site-wrapper-inner
          .cover-container
            .masthead.clearfix
              .inner
                .masthead-brand
                  img.img-rounded(src="/img/dodge.jpg", width="50px", style="float:left;")
                  h3.pull-left Such <br> Jukebox
            .inner.cover(style="padding-left:50px;padding-right:50px;")
              p.lead
                | Joining
              .row
                .col-sm-offset-3.col-sm-6
                  p.
                    Enter the name of the party to search for or select a nearby party from the list
              .row
                .col-sm-offset-4.col-sm-6
                  #name-group.form-inline
                    .input-group
                      input#partyName.form-control(type="text", placeholder="Party's Name")
                      span.input-group-btn(style="padding-bottom:0px;margin-bottom:0px;")
                        button#search.btn.btn-default(type="button")
                          .fa.fa-search
                          |&nbsp;Search
                    label#name-label.control-label.pull-left(for="partyName", style="visibility:hidden;") Enter party to search for
              .row
                br
                .col-sm-offset-3.col-sm-6
                  h3(style="text-align:left;")
                    span#partyKeyword Parties:
                  #parties.list-group(style='margin-bottom:10px;')
                    for party in parties
                      a.list-group-item.party(id="party_#{party.id}")= party.name
                  #warn.alert.alert-danger(style='padding:5px;display:none;') Please select a party
              .row
                .col-sm-offset-5.col-sm-4
                  p.pull-right Your location:&nbsp;
                    span.location(style="color:#d9534f")
                      i.fa.fa-location-arrow(style='display:inline;')
                      span#locationName Unknown
              .row
                .col-sm-offset-6.col-sm-3
                  a#find.pull-right(style="cursor:pointer;")
                    small
                      i.fa.fa-crosshairs.fa-lg &nbsp;
                    | Find me...

              .row
                br
                .col-sm-offset-2.col-sm-3(style="padding-bottom:10px")
                  a.btn.btn-lg.btn-danger(href='/') Back
                .col-sm-offset-2.col-sm-3
                  a#join.btn.btn-lg.btn-success Join the party
            .mastfoot
              .inner
                p(style="color:white;") Much fun to be had here
  script(src='/js/joining.js')