doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='css/stylesheet.css')

    script(src='/javascript/jquery-1.11.0.min.js')
    script(src='/css/bootstrap/js/bootstrap.min.js')
    script(src='/javascript/main.js')

  body
    div(class="container main")
        div(class="header container")
            nav(class="navbar navbar-default" role="navigation")
                div(class="container-fluid")
                    div(class="navbar-header")
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(class="navbar-brand", href="/") such jukebox
                    div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
                        ul(class="nav navbar-nav")
                            li(id="nav-link-home")
                                a(href="/") Home
        div(class="container")
            block content
       