extends layout

block content
  .site-wrapper
      .site-wrapper-inner
          .cover-container
            .masthead.clearfix
              .inner
                .masthead-brand
                  img.img-rounded(src="/img/dodge.jpg", width="50px", style="float:left;")
                  h3.pull-left Such <br> Jukebox
            .inner.cover
