extends layout

block content
  script(src="http://connect.soundcloud.com/sdk.js")
  .site-wrapper
      .site-wrapper-inner
          .cover-container
            .home.pull-right(style='position:relative;')
              a(href='/')
                i.fa.fa-home.fa-3x
            #header.masthead.clearfix
              .inner
                .masthead-brand
                  img.img-rounded(src="/img/dodge.jpg", width="50px", style="float:left;margin-right:3px;")
                  h3.pull-left Such Jukebox
            .inner.cover
                #on-top-queue.on-top-queue
                    a.btn.btn-warning.btn-sm.player-only-elem(style="margin-right: 5px;", onclick="player.goToSearch()")
                      span.glyphicon.glyphicon-plus
                      | Add A Song
                    a.btn.btn-warning.btn-sm.search-only-elem(style="margin-right: 5px; display:none;", onclick="player.goToPlayer()")
                      span.glyphicon.glyphicon-arrow-left
                      | Back To Player
                    a#invite-others-btn(class="btn btn-info btn-sm" data-container="body", data-toggle="popover", data-placement="bottom")
                        span(class="glyphicon glyphicon-envelope margined-glyphicon")
                        |Invite Guests
                .queueAndPlayer.player-only-elem
                  ul#song-queue.list-group.queue(style="margin-bottom:0px;")
                      ul#queued-songs.list-group(style="margin-bottom:0px;")
                  #player-container.player-controls.container
                      .row.nowPlaying
                        p.now-playing.lead(style="color:white;") Now Playing

                      .row.player-btns.inline-block
                        a#play-btn.host-only.btn.btn-info.btn-lg.player-btn
                            span.glyphicon.glyphicon-play
                        a#pause-btn.host-only.btn.btn-warning.btn-lg.player-btn(style="display:none;")
                            span.glyphicon.glyphicon-pause
                        a#next-song-btn.host-only.btn.btn-info.btn-lg.player-btn
                            span.glyphicon.glyphicon-step-forward
                        a#vote-skip-song-btn.guest-only.btn.btn-info.btn-lg.player-btn
                            span.glyphicon.glyphicon-step-forward
                          #voteToSkip.caption.guest-only
                            small vote to skip
                      .song-info.pull-right
                          #current-song-icon.song-icon
                          .song-details(style="float:left;")
                              p#current-song-title
                              p#current-song-artist
                      #current-song-progress.progress.progress-striped.active.host-only
                          .progress-bar.progress-bar-info(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
                      audio#player.host-only(preload="auto", autobuffer, ontimeupdate="player.updateTimeOfCurrentSong(this.currentTime, this.duration)")
                      span#song-votes-to-skip.label.label-default(style="margin-left: 6px;")
                          |0 Votes to Skip
                .search-only-elem(style="display:none;")
                  .input-group(style="margin-top: 25px;")
                    input#search-songs-input.form-control(type="text")
                    span.input-group-btn
                      button#search-songs-button.btn.btn-default(type="button")
                        .fa.fa-search
                  ul#searchResultList.list-group.queue(style="height:100%;")
  script.
    $(function(){
        player = new Player(!{JSON.stringify(isHost)});
        console.log(!{JSON.stringify(party)});
        player.initializeFromParty(!{JSON.stringify(party)});
        player.disableVotedFor(!{JSON.stringify(votes)});
        player.resizeQueue();
    });
  script(src="/js/player.js")
